.footer 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 1rem 0rem 1rem;
}

.footer-copyright 
{
    display: flex;
    align-items: flex-start;
}

.footer-links
{
    display: flex;
    justify-content: flex-end;
}

.copyright
{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #95D2B3;
}

#terms-and-conditions
{
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    color: #95D2B3;
    margin: 16px;
}

#terms-and-conditions:hover {
    color: #55AD9B;
}
  
#terms-and-conditions:active {
    color: #D8EFD3;
}

#privacy-policy
{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    color: #95D2B3;
    margin: 16px;
}

#privacy-policy:hover {
    color: #55AD9B;
}
  
#privacy-policy:active {
    color: #D8EFD3;
}

#notice-of-privacy-practices
{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    color: #95D2B3;
    margin: 16px;
}

#notice-of-privacy-practices:hover {
    color: #55AD9B;
}
  
#notice-of-privacy-practices:active {
    color: #D8EFD3;
}

@media screen and (max-width: 850px) 
{
    .footer 
    {
        display: flex;
        flex-direction: column;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .copyright
    {
        font-size: 12;
        margin: 0;
    }

    #terms-and-conditions
    {
        font-size: 12;
        margin: 12 12 12 0;
    }

    #privacy-policy
    {
        font-size: 12;
        margin: 12;
    }

    #notice-of-privacy-practices
    {
        font-size: 12;
        margin: 12;
    }
}
