.footer{
    display: flex;
    justify-content: flex-end;
    grid-column:span 2;
    width: 100%;
}

.copyright{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #95D2B3;
    margin-right: 10px;
}

@media screen and (max-width: 850px) {
    .copyright{
        font-size: 12;
        margin-right: 10px;
    }
  }
