.navbar {
    /* grid-column:span 2; */
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    list-style: none;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #55AD9B;
    transition: 0.3s;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.logo {
    height: 80px;
    cursor: pointer;
}

.nav-link a {
    text-decoration: none;
    padding: 1rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 400;
    font-style: medium;
    text-decoration: none;
    color: #55AD9B;
}
  
.nav-link a:hover {
    color: #95D2B3;
}
  
.nav-link a:active {
    color: #D8EFD3;
}

@media screen and (max-width: 850px) {

    .logo {
        height: 50px;
        margin-top: 5px;
    }

    .navbar {
        grid-template-columns: auto auto;
      }
    
      .nav-menu {
        grid-column: 1 / -1;
        grid-row: 2;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, padding 0.3s ease-out;
        padding: 0;
      }
    
      .nav-menu.active {
        max-height: 300px; /* Adjust this value based on your content */
        padding: 1rem 0;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
      }
    
      .nav-menu li {
        margin: 0.5rem 0;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
      }
    
      .nav-menu.active li {
        opacity: 1;
        transform: translateY(0);
      }
    
      /* Stagger the animation of list items */
      .nav-menu.active li:nth-child(1) { transition-delay: 0.1s; }
      .nav-menu.active li:nth-child(2) { transition-delay: 0.2s; }
      .nav-menu.active li:nth-child(3) { transition-delay: 0.3s; }
      .nav-menu.active li:nth-child(4) { transition-delay: 0.4s; }
    
      .hamburger {
        display: block;
        justify-self: end;
      }
  }