body{
    background-color: #ffffff;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 5px;
  }

.logo {
    height: 80px;
    margin-top: 10px;
}

.nav-left
{
    display: flex;
    justify-content: flex-start;
   /* background-color: aqua; temp*/
}

.nav-right
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
    margin-top: 30px;
    /*background-color: antiquewhite; temp*/
}

.nav-option
{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 24;
    font-weight: 400;
    font-style: medium;
    text-decoration: none;
    color: #55AD9B;
}
  
.nav-option:hover {
    color: #95D2B3;
}
  
.nav-option:active {
    color: #D8EFD3;
}

.hero{
    grid-column:span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
    width: 100%;
}

.hero-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color:chocolate; */
    width: 675px;
}

.hero-header
{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 40;
    font-weight: 600;
    font-style:normal;
    text-decoration: none;
    color: #55AD9B;
    margin: 10px 0px;
    /* background-color: antiquewhite; */
}

.hero-subheader
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-size: 28;
    font-style:normal;
    font-weight: 300;
    text-decoration: none;
    margin: 20px 0px;
    color: #95D2B3;

    /* background-color: aqua; */
}

.chat-now-button {
    /* Basic button styling */
    padding: 40px;
    border: 4px solid #95D2B3;
    cursor: pointer;
    
    /* Solid color background */
    background-color: #55AD9B; /* Change this to your desired color */
    
    /* Rounded corners */
    border-radius: 30px; /* Adjust this value to increase or decrease corner radius */
    
    /* Text color */
    color: #F1F8E8;
    
    /* Optional: add transition for smooth effect */
    transition: background-color 0.3s ease;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 36;
    font-weight: 600;
    font-style:normal;
    text-decoration: none;
}

/* Hover state */
.chat-now-button:hover {
    background-color: #95D2B3;; /* Darker shade for hover */
}

/* Active (pressed) state */
.chat-now-button:active {
    background-color: #D8EFD3; /* Even darker shade for pressed state */
}

.crisis-cta
{
    /* background-color: bisque; */
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #55AD9B;
}

.footer{
    display: flex;
    justify-content: flex-end;
    grid-column:span 2;
    /*background-color:aqua;*/
    width: 100%;
}

.copyright{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #95D2B3;
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .nav-option{
        display: none;
    }

    .logo {
        height: 50px;
        margin-top: 5px;
    }

    .hero-container
    {
        width: 310px;
    }

    .hero-header
    {
        font-size: 30;
        margin: 10px 0px;
    }

    .hero-subheader
    {
        font-size: 18;
        margin: 20px 0px;
    }

    .chat-now-button {
        padding: 30px;
        font-size: 16;
    }

    .crisis-cta
    {
        font-size: 10;
    }

    .copyright{
        font-size: 12;
        margin-right: 10px;
    }
  }

