body{
    background-color: #ffffff;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 5px;
  }

.logo {
    height: 80px;
    margin-top: 10px;
}

.nav-left
{
    display: flex;
    justify-content: flex-start;
   /* background-color: aqua; temp*/
}

.nav-right
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
    margin-top: 30px;
    /*background-color: antiquewhite; temp*/
}

.nav-option
{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 24;
    font-weight: 400;
    font-style: medium;
    text-decoration: none;
    color: #55AD9B;
}
  
.nav-option:hover {
    color: #95D2B3;
}
  
.nav-option:active {
    color: #D8EFD3;
}

.hero{
    grid-column:span 2;
    background-color: aquamarine;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: flex-end;
    grid-column:span 2;
    /*background-color:aqua;*/
    width: 100%;
}

.copyright{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 16;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #95D2B3;
    margin-right: 10px;
}



